* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

body main {
  width: 50%;
}

.title-section {
  display: flex;
  position: relative;
  align-items: center;
}

.title-section i {
  position: absolute;
  right: 30px;
  font-size: 20px;
  color: gray;
}

.title-section span {
  padding: 20px;
  font-size: 18px;
}

.main-section {
  width: 60vw;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 20px 20px 50px 5px rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}

.padding {
  padding: 20px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.input-text {
  border: none;
  font-style: italic;
  outline: none;
  padding: 20px;
  font-size: 16px;
}

.list-task {
  list-style: none;
}

.list-task li {
  display: flex;
  justify-content: space-between;
}

.vertical-dots {
  cursor: pointer;
}

.dot-menu {
  background-color: rgba(255, 255, 0, 0.5);
}

.clear-btn button {
  padding: 20px;
  border: none;
  width: 100%;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.checked {
  text-decoration: line-through;
}

.labels {
  border: none;
  resize: none;
  height: 18px;
  width: 42vw;
  outline: none;
  background: none;
}

.delete-btn {
  display: none;
  cursor: pointer;
}

.done-btn {
  display: none;
  cursor: pointer;
}

.draggables {
  cursor: move;
}

.draggables.dragging {
  opacity: 0.5;
}
